
%nav
  %ul
    %li{nav_active('index.html')}
      = link_to "Home", '/'
    %li{nav_active('about.html')}
      = link_to "About Me", 'about.html'
    %li{nav_active('resume.html')}
      = link_to "Work Experience", 'resume.html'

    - blog.tags.each do |tag, articles|
      %li
        %h4= tag
        %ul
          - articles.each do |article|
            %li{nav_active_article(article)}
              = link_to article.title, article.url