
%nav#side-nav

  -# .face
  -#   = image_tag "face.jpg"

  %ul
    %li{nav_active('index.html')}
      = link_to "Home", '/'
    %li{nav_active('about.html')}
      = link_to "About Me", '/about'
    %li{nav_active('resume.html')}
      = link_to "Work Experience", '/resume'


    = partial 'layouts/tag_group', locals: {tag: 'Projects', articles: articles_for_tag('Projects')}

    - other = []
    - blog.tags.each do |tag, articles|
      - unless ['promoted', 'projects'].include?(tag.downcase)
        - if articles.length < 2
          - other.push articles
        - else
          = partial 'layouts/tag_group', locals: {tag: tag, articles: articles}

    - unless other.empty?
      = partial 'layouts/tag_group', locals: {tag: 'Other', articles: other.flatten}
