
%nav
  %ul
    %li{nav_active('index.html')}
      = link_to "Home", '/'
    %li{nav_active('about.html')}
      = link_to "About Me", '/about.html'
    %li{nav_active('resume.html')}
      = link_to "Work Experience", '/resume.html'


    = partial 'layouts/tag_group', locals: {tag: 'Projects', articles: project_articles}

    - other = []
    - blog.tags.each do |tag, articles|
      - if articles.length < 2
        - other.push articles
      - else
        = partial 'layouts/tag_group', locals: {tag: tag, articles: articles}

    - unless other.empty?
      = partial 'layouts/tag_group', locals: {tag: 'Other', articles: other.flatten}
