!!!html
%head
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Bitter|Roboto+Slab'
  = stylesheet_link_tag 'app'

%body
  .container
    .content
      .main
        = yield

    %nav
      %ul
        %li= link_to "About", 'about.html'
        %li= link_to "Resume", 'resume.html'

        - blog.tags.each do |tag, articles|
          %li
            %h5= tag
            %ul
              - articles.each do |article|
                %li
                  = link_to article.title, article.url

  = javascript_include_tag 'all'