= partial 'layouts/header'

%body.blog


  .container
    .content
      - if current_article.data['github']
        %a.github-fork-ribbon.right-top{href: current_article.data['github'], target: '_blank', title: "Fork me on GitHub"} Fork me on GitHub

      .main
        .lead
          .date= current_article.date.strftime '%B %Y'
          %h1= current_article.title

          - if current_article.data['intro']
            %h2=current_article.data['intro']

        - if current_article.data['hero']
          .gallery
            .item.hero
              = image_tag(current_article.data['hero'].img)

              - if current_article.data['hero'].caption
                .caption= current_article.data['hero'].caption

        - if current_article.data['gallery']
          .gallery
            - current_article.data['gallery'].each do |item|
              .item
                = link_to item.img, class: 'lightbox-link' do
                  = image_tag(item.img)

                - if item.caption
                  .caption= item.caption

        .blog-content
          = yield

    = partial 'layouts/nav'

  = javascript_include_tag 'all'