!!!html
%head
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Merriweather:400,700'
  = stylesheet_link_tag 'app'

%body
  .container
    .content
      .main
        .lead
          .date= current_article.date.strftime '%B %Y'
          %h1= current_article.title

          - if current_article.data['intro']
            %h2=current_article.data['intro']

        .blog-content
          = yield

    = partial 'layouts/nav'

  = javascript_include_tag 'all'