!!!html
%head
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,700'
  = stylesheet_link_tag 'app'

%body
  .container
    .content
      .main
        .lead
          %h1= current_article.title
          %span.date= current_article.date.strftime '%B %Y'

          - if current_article.data['intro']
            %h2= current_article.data['intro']

        = yield

    = partial 'layouts/nav'

  = javascript_include_tag 'all'