!!!html
%head
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Merriweather:400,700'
  = stylesheet_link_tag 'app'

%body
  .container
    .content
      .main
        = yield

    = partial 'layouts/nav'

  = javascript_include_tag 'all'