doctype
html(lang="en")
  head
    title= title
    
    meta(name="description" content="#{ intro }")  
    meta(name="viewport" content="width=device-width, user-scalable=no")
    
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400,700")
    link(rel="stylesheet" href="/styles/app.css")  
    
    script.
      //- (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      //- (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      //- m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      //- })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      //- ga('create', 'UA-12244949-1', 'auto');
      //- ga('send', 'pageview');

  body
    
    .container
      .content
        .main
          
          
          .lead
            .date
              if (isNaN(new Date(date)))
                = date
              else
                = months[new Date(date).getMonth()]
                | &nbsp;
                = new Date(date).getFullYear()
                a.hamburger(href="#")

            h1= title
            h2
              = intro
              | &nbsp;
              if github
                a.github(href=github, target='_blank', title="GitHub") View on GitHub
              
          if hero
            .gallery
              .item.hero
                img(src=hero.img)
                if hero.caption
                  .caption= hero.caption
        
          .blog-content
            != yield
          
      != partial("../_nav")
    
    script(src="/scripts/app.js")
    script(src="//cdn.jsdelivr.net/combine/npm/prismjs@1.8.3,npm/prismjs@1.8.3/components/prism-javascript.min.js,npm/prismjs@1.8.3/components/prism-less.min.js,npm/prismjs@1.8.3/components/prism-ruby.min.js")
