doctype
html(lang="en")
  != partial("../_header")

  body
    main
      != partial("../_nav")

      header
        h1
          small
            span= readable_publish_date
            span.likes= `♥ ${public_reactions_count}`

          = title

        if cover_image
          img(src=cover_image alt=title loading="lazy")

      article.md
        != yield

        .comments
          h3 Comments

          if comments.length
            ul
              each comment in comments
                != partial("./_comment", { comment })

          footer
            a(href=url target="_blank") Leave a comment

      != partial("../_promoted")




