
.lead.no-print
  .date
    David Morrow
    %a.hamburger(href="#")

  %h1 Resume
  %h2
    Brief summary of work experiences, education, skills, and awards for David Morrow.
    %br
    = link_to '↓ Download PDF', 'morrow_resume.pdf', target: '_blank'


.resume


  .divider Work Experience

  - data.resume.jobs.each do |job|
    .item
      .heading
        %h3.company= job.company

        - job.roles.each do |role|
          .role
            .title= "(#{role.role})"

            .time
              = human_time role.start
              = " - "
              = human_time role.end

      %p.descrip= job.description

  .divider Education

  - data.resume.education.each do |ed|
    .item
      .heading
        %h3.company= ed.school
        .role
          .title= ed.title
          .time
            = human_time ed.start
            = " - "
            = human_time ed.end

      %p.descrip= ed.description


  .divider Skills

  .item.skills
    %p.descrip
      - data.resume.skills.each do |skill|
        = "#{skill}, "

  .divider Awards & Accolades

  .awards
    .item
      - data.resume.awards.each do |aw|
        .project= aw.project
        %p.descrip
          - aw.awards.each do |award|
            = award.title
            - if award.level
              %em="(#{award.level})"




